<h1><%= title %></h1>

<form action="addInventory" method="POST">
  <label for="classificationList">Classification</label>
  <%- classificationSelect %>
  <br /><br />

  <label for="make">Make:</label>
  <input type="text" id="inv_make" name="inv_make" required /><br /><br />

  <label for="model">Model:</label>
  <input type="text" id="inv_model" name="inv_model" required /><br /><br />

  <label for="description">Description:</label> <br />
  <textarea
    id="inv_description"
    name="inv_description"
    rows="10"
    cols="80"
  ></textarea
  ><br /><br />

  <label for="imagePath">Image Path:</label> <br />
  <input type="text" id="inv_image" name="inv_image" /><br />

  <label for="imagePath">Thumbnail Path:</label>
  <input type="text" id="inv_thumbnail" name="inv_thumbnail" /><br />

  <label for="price">Price:</label>
  <input type="number" id="inv_price" name="inv_price" required /><br /><br />

  <label for="year">Year:</label>
  <input type="number" id="inv_year" name="inv_year" required /><br /><br />

  <label for="miles">Mileage:</label>
  <input type="number" id="inv_miles" name="inv_miles" required /><br /><br />

  <label for="color">Color:</label>
  <input type="text" id="inv_color" name="inv_color" required /><br /><br />

  <button type="submit">Submit</button>
</form>
