<h1><%= title %></h1>

<% if (flash && flash.message) { %>
<div class="flash-message"><%= flash.message %></div>
<% } %>

<!-- Links to trigger processes -->
<div>
  <a href="/inventory/add-classification">Add New Classification</a>
  <a href="/inventory/add-inventory">Add New Inventory</a>
</div>
